@font-face {
    font-family: 'Circular Medium';
    src: url(/fonts/circular/circular-medium.ttf);
}
@font-face {
    font-family: 'Circular Book';
    src: url(/fonts/circular/circular-book.ttf);
}
@font-face {
    font-family: 'Circular Bold';
    src: url(/fonts/circular/circular-bold.ttf);
}
@font-face {
    font-family: 'Circular Light';
    src: url(/fonts/circular/circular-light.ttf);
}

:root {
    --grey-med: #ddd;
    --grey-light: #f7f7f7;
    --grey-text-light: #717171;
    --grey-text-dark: #222;
    --pink: #ff385c;
}

body {
    color: #222;
    font-family: 'Circular Book';
    margin: 0;
    font-size: 14px;
    letter-spacing: normal;
    line-height: 18px;
    -webkit-font-smoothing: antialiased;
}








